@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');

.about {
  font-family: 'Georama', sans-serif;
  margin-left: 145px;
  margin-top: 30px;
}

.image {
  width: 25%;
  margin-top: 10px;
  border-radius: 20px;
}

.content {
  display: flex;
  align-items: center;
}

.content p {
  margin-left: 10px;
}
