@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.header_nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  padding: 1.5rem;
  background-color: antiquewhite;
}

.header_nav a {
  text-decoration: none;
}

.header_logo {
  margin-right: 400px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}
